@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #002333;
}

::-webkit-scrollbar-thumb {
  background: #159a9c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #deefe7;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  background-color: #ffffff;

}
.Logo {
  text-decoration: none;
  font-size: 25px;
  color: #deefe7;
  text-decoration: none;
}
header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: #159a9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar a {
  font-size: 18px;
  color: #deefe7;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #002333;
}
.inicio {
  display: flex;
  align-items: center;
  padding: 15px 10%;
}
#pA {
  font-size: 30px;
  color: #159a9c;
  border-right: 4px solid;
  width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(16), blinking 0.5s infinite step-end alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
.conteudo-inicio h1 {
  font-size: 50px;
  color: #002333;
}
.conteudo-inicio .baixar-cv .linkedin {
  width: 345px;
  height: 50px;
}
.baixar-cv a, .linkedin a {
  margin: 20px 0 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 250px;
  height: 100%;
  background: #159a9c;
  border: 2px solid #deefe7;
  border-radius: 11px;
  font-size: 25px;
  color: #deefe7;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}
.baixar-cv a:hover, .linkedin a:hover {
  color: #002333;
}

.links {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px; 
  flex-wrap: wrap; 
}

.baixar-cv, .linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minha-foto {
  display: flex;
  width: 350px;
  height: 350px;
  margin: 100px;
  border-radius: 15%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.minha-foto:hover {
  transform: scale(1.1);
}

#sobremim {
  color: #159a9c;
}
#sobremim h1 {
  margin-top: 35px;
  font-size: 65px;
  text-align: center;
}
#sobremim p {
  font-size: 2vw;
  text-align: center;
  padding: 2.5vw;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .navbar a {
    margin-left: 10px; 
  }
  .minha-foto {
    margin: 20px auto;
  }
  #sobremim p, #habilidades h2 {
    font-size: 20px; 
  }
}

#habilidades h2 {
  color: #159a9c;
  font-size: 65px;
  text-align: center;
}

.logoh {
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.logoh i {
  margin: 1px 15px 5px;
  font-size: 85px;
  background-color: #002333;
  border-radius: 25%;
  color: #159a9c;
  transition: 0.5s ease-in-out;
  transition: 0.3s;
}
.logoh i:hover {
  color: #00ff88;
  transform: scale(1.2);
}

.habilidadescompleta {
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}
#projetos {
  text-align: center;
  margin-top: 25px;
  color: #159a9c;
  font-size: 60px;
}
#projetos img {
  justify-content: center;
  align-items: center;
  width: 425px;
  height: 400px;
  border: solid #002333 20px;
  border-radius: 20%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
#projetos img:hover {
  transform: scale(1.1);
}
#projetos p {
  font-size: 15px;
  text-align: center;
}
.contatos {
  font-size: 35px;
  margin-top: 110px;
  color: #deefe7;
  background-color: #159a9c;
  text-decoration: none;
}
.contatos h4 {
  text-align: center;
  font-size: 60px;
}
.contatos a {
  margin-bottom: 5px;
  display: block;
  margin: 10px;
  margin-left: 100px;
  text-decoration: none;
  color: #deefe7;
}
.contato span {
  margin-left: 15px;
}
.contatos p {
  color: transparent;
}

@media screen and (max-width: 1000px) {
  .minha-foto {
      display: flex;
      width: 90vw; /* Ajuste de largura relativo ao viewport */
      max-width: 350px; /* Define um limite máximo */
      height: auto; /* Mantém a proporção da imagem */
      border-radius: 20%; /* Ajuste do border-radius para manter consistência */
      overflow: hidden;
      transition: 0.5s ease-in-out;
  }
  .conteudo-inicio h1 {
    font-size: 35px;
    color: #002333;
  }
}

